<% if !@presets.any? %>

<div>
  <p class="text-center">
    Nothing to see here. Create <a href="/">one</a>!
  </p>
</div>

<% else %>

<table class="table">

  <thead>
    <tr>
      <th scope="col">ID</th>

      <% if @page[:title] == "All Presets" %>
        <th scope="col">User</th>
      <% end %>

      <th scope="col">Title</th>
      <th scope="col">Description</th>

      <% if current_user.slug == params[:slug] %>
        <th scope="col">Delete</th>
      <% end %>

    </tr>
  </thead>

  <tbody>

    <% @presets.each do |preset| %>

      <tr>
        <th scope="row"><%= preset.id %></th>

        <% if @page[:title] == "All Presets" %>
          <td scope="col"><a class="text-white" href="/users/<%= preset.user.slug %>"><%= preset.user.username %></a></td>
        <% end %>

        <td><a class="text-white" href="/presets/<%= preset.id %>/<%= preset.slug %>"><%= preset.title %></a></td>
        <td><a class="text-white" href="/presets/<%= preset.id %>/<%= preset.slug %>"><%= preset.description %></a></td>

        <% if current_user.slug == params[:slug] %>

        <td>
          <form class="" action="/presets/<%= preset.id %>/<%= preset.slug %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn"><i class="fas fa-trash text-danger"></i></button>
          </form>
        </td>

        <% end %>

      </tr>

    <% end %>

  </tbody>

</table>

<% end %>
