<div class="row">
  <div class="col-5 mx-auto">

    <form class="px-4 py-3" action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control <%= @username_border %>" id="username" name="username" value="<%= @username %>" placeholder="Minimum 3 characters">
        <% if !@username_error.nil? %>
        <div class="alert alert-danger font-italic" role="alert">
          <small><%= @username_error %></small>
        </div>
        <% end %>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control <%= @password_border %>" id="password" name="password" placeholder="Minimum 5 characters">
        <% if !@password_error.nil? %>
        <div class="alert alert-danger font-italic" role="alert">
          <small><%= @password_error %></small>
        </div>
        <% end %>
      </div>
      <!-- <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck">
          <label class="form-check-label" for="dropdownCheck">
            Remember me
          </label>
        </div>
      </div> -->
      <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/signup">Need an account? Click me!</a>
  </div>
</div>
