<%
# Validate user input via server or client (via Bootstrap)
server_validation = true
@user ||= User.new
%>

<form action="/login" method="POST">

  <!-- USERNAME -->
  <div class="form-group col-sm-12">
    <label for="username">Username</label>
    <input type="text" class="form-control <%= "is-invalid" if @user.errors[:username].any? %>" id="username" name="username" value="<%= @user.username %>" placeholder="Minimum 3 characters" autofocus <%= "required" if !server_validation %>>

    <% if @user.errors[:username].any? %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <% @user.errors.full_messages.each do |message| %>
          <% next if !message.downcase.include?("username") %>
            <p><%= message %>.</p>
        <% end %>

      </div>

    <% end %>

  </div>

  <!-- PASSWORD -->
  <div class="form-group col-sm-12">
    <label for="password">Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @user.errors[:password].any? %>" id="password" name="password" value="<%= @user.password %>" placeholder="Minimum 6 characters" <%= "required" if !server_validation %>>

    <% if @user.errors[:password].any? %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <% @user.errors.full_messages.each do |message| %>
          <% next if !message.downcase.include?("password") %>
            <p><%= message %>.</p>
        <% end %>

      </div>

    <% end %>

  </div>

  <div class="form-group col-sm-12">
    <button type="submit" class="btn btn-block">Log In</button>
  </div>
</form>
