<%
# Validate user input via server or client (via Bootstrap)
server_validation = true
@validation ||= validation_form
%>

<form action="/login" method="POST">

  <!-- USERNAME -->
  <div class="form-group col-sm-12">
    <label for="username">Username</label>
    <input type="text" class="form-control <%= "is-invalid" if @validation[:username][:valid] == false %>" id="username" name="username" value="<%= @validation[:username][:value] %>" placeholder="Minimum 3 characters" autofocus <%= "required" if !server_validation %>>

    <% if @validation[:username][:valid] == false %>
      <div class="invalid-feedback alert alert-danger" role="alert">
        <% if @validation[:username][:test][:length] == false %>
          Username is too short (minimum 3 characters). Please try again.
        <% elsif @validation[:username][:test][:available] == false %>
          Username does not exist. Please try again.
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- PASSWORD -->
  <div class="form-group col-sm-12">
    <label for="password">Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @validation[:password][:valid] == false %>" id="password" name="password" placeholder="Minimum 6 characters" <%= "required" if !server_validation %>>

    <% if @validation[:password][:valid] == false %>
      <div class="invalid-feedback alert alert-danger" role="alert">
        <% if @validation[:password][:test][:length] == false %>
          Password is too short (minimum 6 characters). Please try again.
        <% elsif @validation[:password][:test][:match] == false %>
          Passwords is incorrect. Please try again.
        <% else %>
          Username-Password combination not found. Please try again.
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group col-sm-12">
    <button type="submit" class="btn btn-block">Log In</button>
  </div>
</form>
