<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<form action="/presets" method="POST">
  <div class="row justify-content-center">
    
    <div class="dropdown">
      <% preset = Preset.find_by_slug(params[:slug]) %>

      <% if preset && preset.user_id == current_user.id %>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" data-offset="-5">edit</button>
      <% else %>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" data-offset="<% logged_in? ? "-5" : "0" %>">save</button>
      <% end %>

        <button id="toggle-play" type="button" class="btn"><i id="toggle-play-icon" class="fas fa-pause"></i></button>

        <button id="reset-all" type="button" class="btn">reset</button>

      <div class="dropdown-menu">

        <% if logged_in? %>
        <div class="px-3 py-1">

          <div class="form-group">
            <input type="text" name="title" value="<%= preset.title if preset %>" placeholder="Give it a title (optional)" autofocus>
          </div>

          <div class="form-group">
            <textarea name="description" rows="4" cols="20" placeholder="And a short description! (optional)"><%= preset.description if preset  %></textarea>
            <button id="save-preset" class="btn btn-block" type="submit">update</button>
          </div>

        </div>

        <% else %>
          <%= erb :"/partials/login_form" %>
        <% end %>


      </div> <!-- dropdown menu -->
    </div> <!-- dropdown -->

  </div> <!-- row -->

  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>

  <div class="container">

    <br>

    <div class="row justify-content-center">

      <% source = Preset.sources %>

      <% @preset.volume.each do |element, volume| %>

      <% element = element.to_s %>

        <div class="col-sm-3 text-center">
          <button id="<%= element %>" type="button" class="btn preset-button"><i id="<%= element %>-icon" class="<%= source[element.to_sym][:icon] %> inactive-sound"></i></button>

          <audio id="<%= element %>-audio" preload="auto" <%= "autoplay" if volume > 0 %> loop>
            <source src="<%= source[element.to_sym][:url] %>" type="audio/mpeg">
          </audio>

          <br>

          <input id="<%= element %>-input" class="form-control-plaintext text-center" type="number" name="volume[<%= element %>]" value="<%= volume %>" hidden>

          <span id="<%= element %>-volume" class="badge badge-pill"></span>&nbsp;

        </div>

      <% end %>

    </div> <!-- row -->
  </div> <!-- container -->

</form>
