<% @page_info = {
  title: "My Account",
  heading: "EDIT ACCOUNT"
} %>

<%
#validate user input via server or client
server_validation = true
@user ||= current_user
%>

<!-- ADD SUCCESS MESSAGE FOR UPDATING -->

<div class="row">

  <div class="col-5 mx-auto">

    <% if @message %>

    <div class="alert alert-success font-italic text-center" role="alert">
      <small><%= @message %></small>
    </div>

    <% end %>

    <form class="px-4 py-3" action="/users" method="POST">

      <input type="hidden" name="_method" value="PATCH">

      <!-- USERNAME -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control <%= "is-invalid" if @user.errors[:username].any? %>" id="username" name="username" value="<%= @user.username || current_user.username %>" placeholder="Minimum 3 characters" autofocus <%= "required" if !server_validation %>>

        <% if @user.errors[:username].any? %>

          <div class="invalid-feedback alert alert-danger" role="alert">

            <% @user.errors.full_messages.each do |message| %>
              <% next if !message.downcase.include?("username") %>
                • <%= message %>.<br>
            <% end %>

          </div>

        <% end %>

      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control <%= "is-invalid" if @user.errors[:password].any? %>" id="password" name="password" placeholder="Minimum 6 characters" <%= "required" if !server_validation %>>

        <% if @user.errors[:password].any? %>

          <div class="invalid-feedback alert alert-danger" role="alert">

            <% @user.errors.full_messages.each do |message| %>
              <% next if !message.downcase.include?("password") || message.downcase.include?("confirm") %>
              • <%= message %>.<br>
            <% end %>

          </div>

        <% end %>

      </div>

      <!-- PASSWORD CONFIRMATION -->
      <div class="form-group">
        <label for="password_confirmation">Confirm New Password</label>
        <input type="password" class="form-control <%= "is-invalid" if @user.errors[:password_confirmation].any? %>" id="password_confirmation" name="password_confirmation" placeholder="Re-type new password" <%= "required" if !server_validation %>>

        <% if @user.errors[:password_confirmation].any? %>

          <div class="invalid-feedback alert alert-danger" role="alert">

            <% @user.errors.full_messages.each do |message| %>
              <% next if !message.downcase.include?("password") %>
                • <%= message %>.<br>
            <% end %>

          </div>

        <% end %>

      </div>

      <button type="submit" class="btn btn-block">Update</button>

    </form>

    <div class="dropdown-divider"></div>

    <p class="text-center">Your current password is required in order to delete your account.</p>

    <div class="dropdown-divider"></div>

    <form class="px-4 py-3" action="/users" method="POST">

      <input type="hidden" name="_method" value="DELETE">

      <div class="form-group">
        <label for="password_del">Password</label>
        <input type="password" class="form-control <%= "is-invalid" if @error %>" id="password_del" name="password_del" value="" placeholder="Minimum 6 characters" <%= "required" if !server_validation %>>

        <% if @error %>

          <div class="invalid-feedback alert alert-danger" role="alert">

            <%= @error %>

          </div>

        <% end %>

      </div>

      <button id="delete-account" type="submit" class="btn btn-block">Delete</button>

    </form>

  </div>

</div>
