<h1>Register</h1>

<form class="" action="/users" method="POST">
  <p>
    <input type="text" name="username" value="<%= @username %>" placeholder="Username"> <%= @user_error %>
  </p>

  <p>
    <input type="text" name="email" value="<%= @email %>" placeholder="E-mail address"> <%= @email_error %>
  </p>

  <p>
    <input type="password" name="password" value="" placeholder="Password"> <%= @password_error %>
  </p>

  <p>
    <input type="password" name="password?" value="" placeholder="Confirm Password">
  </p>

  <p>
    <input type="submit" name="" value="Register">
  </p>
</form>
