<% @page_info = {
  title: "Sign Up",
  heading: "SIGN UP"
} %>

<div class="row">
  <div class="col-5 mx-auto">

    <form class="px-4 py-3" action="/users" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control <%= "border-danger" if @error_type == 1 %>" id="username" name="username" value="<%= @username %>" placeholder="Minimum 3 characters">
        <% if @error_type == 1 %>
          <div class="alert alert-danger font-italic" role="alert">
          <% case @error_message
            when 1 %>
            <small>Username is less than 3 characters. Please try again.</small>
          <% when 2 %>
            <small>Username already taken. Please try a different one!</small>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <label for="email">E-mail Address</label>
        <input type="email" class="form-control <%= "border-danger" if @error_type == 2 %>" id="email" name="email" value="<%= @email %>" placeholder="email@example.com">
        <% if @error_type == 2 %>
          <div class="alert alert-danger font-italic" role="alert">
          <% case @error_message
            when 3 %>
            <small>E-mail address is less than 5 characters. Please try again.</small>
          <% when 4 %>
            <small>Wrong e-mail address format. Please try again.</small>
          <% when 5 %>
            <small>E-mail address already in use. Please use a different one.</small>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control <%= "border-danger" if @error_type == 3 %>" id="password" name="password" placeholder="Minimum 5 characters">
        <% if @error_type == 3 %>
          <div class="alert alert-danger font-italic" role="alert">
          <% case @error_message
            when 6 %>
            <small>Password is less than 6 characters. Please try again.</small>
          <% when 7 %>
            <small>Passwords do not match. Please try again.</small>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <label for="password?">Confirm Password</label>
        <input type="password" class="form-control <%= "border-danger" if @error_type == 3 %>" id="password?" name="password?" placeholder="Re-type password">
        <% if @error_type == 3 %>
          <div class="alert alert-danger font-italic" role="alert">
          <% case @error_message
            when 6 %>
            <small>Password is less than 6 characters. Please try again.</small>
          <% when 7 %>
            <small>Passwords do not match. Please try again.</small>
          <% end %>
          </div>
        <% end %>
      </div>
      <button type="submit" class="btn btn-block">Sign Up</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/login">Already registered? Click me!</a>
  </div>
</div>
