<% @page = {
  title: "Sign Up",
  heading: "SIGN UP"
} %>

<div class="col-md-5 mx-auto">

  <form class="" action="/users" method="POST">

    <!-- USERNAME -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control <%= "is-invalid" if @errors && @errors[:username].any? %>" id="username" name="username" value="<%= params[:username] %>" placeholder="Minimum 3 characters" <%= "autofocus" if @errors && (@errors[:username].any? && (!@errors[:password].any? || !@errors[:password_confirmation].any?)) %>>

      <% if @errors && @errors[:username].any? %>

        <div class="invalid-feedback alert alert-danger" role="alert">

          <% @errors[:username].each do |message| %>
              • <%= "Username #{message}" %>.<br>
          <% end %>

        </div>

      <% end %>

    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control <%= "is-invalid" if @errors && @errors[:password].any? %>" id="password" name="password" value="<%= params[:password] %>" placeholder="Minimum 6 characters" <%= "autofocus" if @errors && (@errors[:password].any? || @errors[:password_confirmation].any?) %>>

      <% if @errors && @errors[:password].any? %>

        <div class="invalid-feedback alert alert-danger" role="alert">

          <% @errors[:password].each do |message| %>
              • <%= "Password #{message}" %>.<br>
          <% end %>

        </div>

      <% end %>

    </div>

    <!-- PASSWORD CONFIRMATION -->
    <div class="form-group">
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" class="form-control <%= "is-invalid" if @errors && @errors[:password_confirmation].any? %>" id="password_confirmation" name="password_confirmation" placeholder="Re-type password">

      <% if @errors && @errors[:password_confirmation].any? %>

        <div class="invalid-feedback alert alert-danger" role="alert">

          <% @errors[:password_confirmation].each do |message| %>
              • <%= "Password confirmation #{message}" %>.<br>
          <% end %>

        </div>

      <% end %>

    </div>

    <button type="submit" class="btn btn-block">Sign Up</button>

  </form>

</div>
