<form class="px-4 py-3" action="/users/account" method="POST">

  <input type="hidden" name="_method" value="PATCH">

  <!-- USERNAME -->
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control <%= "is-invalid" if @errors && @errors[:username].any? %>" id="username" name="username" value="<%= @errors && @errors.details[:username][0][:value] || current_user.username %>" placeholder="Minimum 3 characters" <%= "autofocus" if @errors && @errors[:username].any? %>>

    <% if @errors && @errors[:username].any? %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <% @errors[:username].each do |message| %>

          • <%= "Username #{message}" %>.<br>

        <% end %>

      </div>

    <% end %>

  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @errors && @errors[:password].any? %>" id="password" name="password" placeholder="Minimum 6 characters">

    <% if @errors && @errors[:password].any? %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <% @errors[:password].each do |message| %>

          • <%= "Password #{message}" %>.<br>

        <% end %>

      </div>

    <% end %>

  </div>

  <!-- PASSWORD CONFIRMATION -->
  <div class="form-group">
    <label for="password_confirmation">Confirm New Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @errors && @errors[:password_confirmation].any? %>" id="password_confirmation" name="password_confirmation" placeholder="Re-type new password">

    <% if @errors && @errors[:password_confirmation].any? %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <% @errors[:password_confirmation].each do |message| %>

          • <%= "Password confirmation #{message}" %>.<br>

        <% end %>

      </div>

    <% end %>

  </div>

  <button type="submit" class="btn btn-block">Update</button>

</form>
