<% @page_info = {
  title: "Preset",
  heading: nil
} %>

<%= @preset.title %>

<%= @preset.description %>

<form action="/presets" method="POST">
  <div class="row justify-content-center">

    <!--  -->
    <div class="dropdown">
      <div class="btn-group">

        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" data-offset="-5">save</button>

        <button id="pause-play" type="button" class="btn"><i class="fas fa-play"></i> | <i class="fas fa-pause"></i></button>

        <button id="reset-all" type="button" class="btn">reset</button>

      <div class="dropdown-menu">
        <div class="px-3 py-1">

          <div class="form-group">
            <input type="text" name="title" value="" placeholder="Give it a title (optional)">
          </div>

          <div class="form-group">
            <textarea name="description" rows="4" cols="20" placeholder="And a short description! (optional)"></textarea>
            <button id="save-preset" class="btn btn-block" type="submit">update</button>
          </div>

        </div>
      </div>

      </div>
    </div>
    <!--  -->

  </div>

  <div class="row">&nbsp;</div>

  <div class="container">

    <br>

    <div class="row justify-content-center">

      <% source = Preset.sources %>

      <% @preset.volume.each do |element, volume| %>

      <% element = element.to_s %>

        <div class="col-sm-3 text-center">
          <button id="<%= element %>" type="button" class="btn preset-button"><i id="<%= element %>-icon" class="<%= source[element.to_sym][:icon] %> <%= "inactive-sound" if volume == 0 %>"></i></button>

          <audio id="<%= element %>-audio" preload="auto" <%= "autoplay" if volume > 0 %> volume="<%= volume %>" loop>
            <source src="<%= source[element.to_sym][:url] %>" type="audio/mpeg">
          </audio>

          <br>

          <input id="<%= element %>-input" class="form-control-plaintext text-center" type="number" name="volume[<%= element %>]" value="<%= volume %>" hidden>

          <span id="<%= element %>-volume" class="badge badge-pill"><%= volume if volume > 0 %></span>&nbsp;

        </div>

      <% end %>

    </div> <!-- row -->
  </div> <!-- container -->

</form>
