<% @title = "Experience Tranquility" %>

<form class="" action="/presets" method="post">
  <div id="global-controls" class="row justify-content-center">
    <div class="btn-group">
      <button id="save-preset" type="submit" class="btn btn-secondary">save</button>
      <button id="pause-play" type="button" class="btn btn-dark"><i class="fas fa-play"></i> | <i class="fas fa-pause"></i></button>
      <button id="reset-all" type="button" class="btn btn-secondary">reset</button>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="container">
    <div class="row justify-content-center">

      <% @sources.each do |id, source| %>

      <% id = id.to_s %>

        <div class="col-sm-3 text-center">
          <audio id="<%= id %>-audio" preload="auto" loop>
            <source src="<%= source[:url] %>" type="audio/mpeg">
          </audio>

          <button id="<%= id %>" type="button" class="btn preset-button"><i id="<%= id %>-icon" class="<%= source[:icon] %> dark-green-color"></i></button>
          <br>

          <input id="<%= id %>-input" class="form-control-plaintext text-center" type="number" name="<%= id %>_volume" value="" hidden>

          <span id="<%= id %>-volume" class="badge badge-pill"></span>
        </div>

      <% end %>

    </div> <!-- row -->
  </div> <!-- container -->

</form>

<div class="container">
  <h4>to-do:</h4>
  <ol>
    <li>add invalid feedback to forms</li>
    <li>fix audio levels</li>
  </ol>
</div>
