<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= erb :"/partials/stylesheets" %>

    <title><%= "Gloomy Weather - #{@title}" %></title>

  </head>
  <body>
    <header>
      <%= erb :"/partials/header" %>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= erb :"/partials/scripts" %>

  </body>
</html>
