<% @page_info[:title] ||= "Experience Tranquility" %>
<% @page_info[:heading] ||= "" %>

<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= erb :"/partials/stylesheets" %>

    <title><%= "Gloomy Weather - #{@page_info[:title]}" %></title>

  </head>

  <body>

    <header>
      <%= erb :"/partials/nav" %>
    </header>

    <div class="container">

      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <% if !@page_info[:heading].empty? %>

      <div class="row">
        <div class="mx-auto">
          <h1 class="display-3"><%= @page_info[:heading] %></h1>
        </div>
      </div>

      <% end %>

      <%= yield %>
    </div>

    <%= erb :"/partials/footer" %>

    <%= erb :"/partials/scripts" %>

  </body>

</html>
