<%
# Validate user input via server or client (via Bootstrap)
server_validation = true
%>

<form action="/login" method="POST">

  <!-- USERNAME -->
  <div class="form-group col-sm-12">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="<%= params[:username] %>" placeholder="Minimum 3 characters" <%= "autofocus" if params[:username] && params[:username].empty? %> <%= "required" if !server_validation %>>
  </div>

  <!-- PASSWORD -->
  <div class="form-group col-sm-12">
    <label for="password">Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @error %>" id="password" name="password" value="" placeholder="Minimum 6 characters" <%= "autofocus" if params[:username] && !params[:username].empty? %> <%= "required" if !server_validation %>>

    <% if @error %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        <%= @error %>

      </div>

    <% end %>

  </div>

  <div class="form-group col-sm-12">
    <button type="submit" class="btn btn-block">Log In</button>
  </div>
</form>
