<form action="/login" method="POST">

  <!-- USERNAME -->
  <div class="form-group col-sm-12">
    <label for="username">Username</label>
    <input type="text" class="form-control <%= "is-invalid" if @user_error %>" name="username" value="<%= params[:username] %>" placeholder="Minimum 3 characters" <%= "autofocus" if @user_error %>>

    <% if @user_error %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        • <%= @user_error %>.

      </div>

    <% end %>

  </div>

  <!-- PASSWORD -->
  <div class="form-group col-sm-12">
    <label for="password">Password</label>
    <input type="password" class="form-control <%= "is-invalid" if @password_error %>" name="password" placeholder="Minimum 6 characters" <%= "autofocus" if @password_error && !@user_error %>>

    <% if @password_error %>

      <div class="invalid-feedback alert alert-danger" role="alert">

        • <%= @password_error %>.

      </div>

    <% end %>

  </div>

  <div class="form-group col-sm-12">
    <button type="submit" class="btn btn-block">Log In</button>
  </div>
</form>
